*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100%;
    margin: auto;

    text-align: center;
    background-color: cadetblue;

}

.head {
    font-family: 'Courier New', Courier, monospace;
    line-height: 100%;
    margin: 2% 0;
}

.balance {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inc-exp {
    display: flex;
    justify-content: space-between;
    padding: 5% ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.transaction {
    max-width: 400px;
    margin: 1% auto;
}

label{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300px;

}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    max-width: 400px;
    box-shadow: 2px 4px 5px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 10%;
    margin: 5% 0;
    margin-right: auto;
    margin-left: auto;
}

input {
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    padding: 5px 5px;
    margin: 10px 0;
}
form {
    width: 100%;
}

input:focus {
    outline: none;
    border: solid 1px;
    box-shadow: 0 0 5px rgba(0, 123,225, 0.5);
}

input::placeholder {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: #333;
    opacity: 0.5;
}

button {
    width: 30%;
    height: auto;
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
    height: 7%;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

button:hover{
    transform: scale(1.05);

}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ol {
    border: solid 1px black;
    border-radius: 10px;
    width: 30%;
    margin: 10px 0;
    padding: 10px 1px;
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.history {
    margin-top: 5%;
}

@media (max-width: 712px) {
    body{
        max-width: 100%;
        margin: auto;
    }
    .card{
        padding: 5%;
        font-size: 80%;
        max-width: 80%;
        margin-bottom: 40%;
    }
    ol{
        font-size: 80%;
        width: 80%;
    }

    .head{
        margin: 20px 5px;
        font-size: 120%;
    }

    .balance{
        font-size: 80%;
        margin-bottom: 15%;
    }
}